<launch>

    <!-- Launches the dynamixel interface-->
    <include 
        file="$(find dynamixel_interface)/launch/dynamixel_interface_controller.launch"
    />

    <!-- Starts pigpio-->
    <param name="pigpiod" command="sudo pigpiod"
    />

    <!-- Runs ximea ROS camera node-->
    <node pkg="ximea_ros" name="start_camera" type="ximea_demo" 
    />

    <!-- Launch aruco tag detection library-->
    <include
        file="$(find ximea_ros)/launch/ximea_aruco.launch"
    />

    <!-- Looking at output-->
    <node pkg="rqt_image_view" name="cam_output" type="rqt_image_view"
    />

    <!-- Run camera-->
    <node pkg="ximea_ros" name="cam_script" type="camera.py"
    />

    <!-- Run colour-->
    <node pkg="ximea_color" name="cam_colour" type="example_camera.py"
    />

    <!-- Runs inverse kinematics node-->
    <node pkg="inv_kin_pkg" name="inverse_kinematics" type="inverse_kinematics.py"
    />

    <!-- Runs logic node-->
    <node pkg="logic_pkg" name="logic" type="logic_moving.py"
    />

</launch>
